{% extends "my_posts.html" %}

{% block title %} My requests {% endblock title%}

{% block content %}
<style>
        .button2 {
        background-color: rgb(208, 225, 206);
        font-size : 15px;
        padding: 10px 50px;
        margin: 6px 0;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        height:80px;
        width:300px
    }
</style>
<div style="text-align: left; font-size: 1em; color:black; ">
    <button onclick="goBack()" class="button2" ><span> &laquo; </span> Back to my profile</button>
    <script>

    function goBack() {
      window.history.go(-1);
    }

    </script>
</div>
    <h1> My requests </h1>
    <br>
    {% for my_request_with_type in my_requests_with_types %}
    <br>
    <div style="color: black; text-align: left; background-color: #ECF3EB; padding: 1em 3em; margin-left: auto; margin-right: auto; border-radius: 4px;">
        <form action="{{ url_for('view_my_post', my_post_id=my_request_with_type['post']['id'], my_post_type=my_request_with_type['type']) }}">
            <font size="5px"> Request </font>
            <br>
            Title: {{ my_request_with_type['post']['title'] }}
            <br>
            {% if my_request_with_type['post']['reserved'] %}
                <font color="red"> THIS POST IS RESERVED </font>
                <br>
            {% endif %}
            <br>
            Description: {{ my_request_with_type['post']['description'] }}
            <br>
            {% if my_request_with_type['type'] == "Donation" %}
                Condition: {{ my_request_with_type['post']['condition'] }}
                <br>
            {% endif %}
            Posted on: {{ my_request_with_type['post']['date'] }}
            <br>
            Location: {{ my_request_with_type['post']['location'] }}
            <br>
            {% for photo in my_request_with_type['post']['photos'] %}
                <img style="height:7em" src="data:image/png;base64, {{ photo }}" alt=" "/>
            {% endfor %}
            <br>
            {% if my_request_with_type['post']['is_charity'] == "yes" %}
                <font color="red"> THIS IS A CHARITY </font>
                <br>
            {% endif %}
            <button class="button" type="submit"> View request </button>
        </form>
    </div>
    {% endfor %}

    <br> <font color="black" size="5px"> These following posts older than 90 days. They have been automatically deactivated after 90 days, but you can
        reactivate them by clicking on the ACTIVATE button. </font> <br> <br>

    {% for my_timeouted_request_with_type in my_timeouted_requests_with_types %}
        <div style="color: black; text-align: left; background-color: #ECF3EB; padding: 1em 3em; margin-left: auto; margin-right: auto; border-radius: 4px;">
            <form action="{{ url_for('view_my_post', my_post_id=my_timeouted_request_with_type['post']['id'], my_post_type=my_timeouted_request_with_type['type']) }}">
                <font size="5px"> Request </font>
                <br>
                Title: {{ my_timeouted_request_with_type['post']['title'] }}
                <br>
                {% if my_timeouted_request_with_type['post']['reserved'] %}
                    <font color="red"> THIS POST IS RESERVED </font>
                    <br>
                {% endif %}
                <br>
                Description: {{ my_timeouted_request_with_type['post']['description'] }}
                <br>
                {% if my_timeouted_request_with_type['type'] == "Donation" %}
                    Condition: {{ my_timeouted_request_with_type['post']['condition'] }}
                    <br>
                {% endif %}
                Posted on: {{ my_timeouted_request_with_type['post']['date'] }}
                <br>
                Location: {{ my_timeouted_request_with_type['post']['location'] }}
                <br>
                {% for photo in my_timeouted_request_with_type['post']['photos'] %}
                    <img style="height:7em" src="data:image/png;base64, {{ photo }}" alt=" "/>
                {% endfor %}
                <br>
                {% if my_timeouted_request_with_type['post']['is_charity'] == "yes" %}
                    <font color="red"> THIS IS A CHARITY </font>
                    <br>
                {% endif %}
                <button class="button" type="submit"> View request </button>
            </form>
            <form action="{{ url_for('activated_post', my_post_id=my_timeouted_request_with_type['post']['id'], my_post_type=my_timeouted_request_with_type['type']) }}">
                <button class="button" type="submit"> ACTIVATE </button>
            </form>
        </div>
        <br>
    {% endfor %}
{% endblock content %}