{% extends "base.html" %}

{% block header %}
        <style>
            body {
                    background-color: rgb(208, 225, 206);
            }

            input[type=text], select {
                background-color: #F0D5B4;
                text-align: left;
                padding: 12px 20px;
                margin: 5px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }


            .button {
                background-color: #F0D5B4;
                font-size : 16px;
                padding: 7px 12px;
                margin: 6px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
        </style>
    </head>
{% endblock header %}

{% block base_content %}
    <h1 style="font-size: 4em;"> New {% block post_type %}{% endblock post_type %} </h1>
    <form action={% block submit_action %}{% endblock submit_action %} method="post" style="color: black; text-align: left;" enctype='multipart/form-data'>
        <label> Title: </label> <input type="text" id="post_title" name="post_title">
        <br>
        <label> Location: </label> <input type="text" id="post_location" name="post_location">
        <br>
        <label> Description: </label> <input type="text" id="post_description" name="post_description">
        <br>
        <label> Category: </label>
        <select name="post_category" id="post_category">
            <option value="clothes"> Clothes </option>
            <option value="books"> Books </option>
            <option value="toys"> Toys</option>
            <option value="sports"> Sports </option>
            <option value="gaming"> Gaming </option>
            <option value="school"> School </option>
            <option value="furniture"> Furniture </option>
            <option value="perishables"> Perishables </option>
            <option value="kitchen ware"> Kitchen ware </option>
            <option value="self care"> Self care </option>
            <option value="cars"> Cars </option>
            <option value="electronics"> Electronics </option>
            <option value="gardening"> Gardening </option>
            <option value="other"> Other </option>
        </select>
        <br>
        {% block extra_fields %}{% endblock extra_fields %}
        <input id="photos" type="file" name="photos" placeholder="Upload photos" capture multiple>
        <br>
        <button class="button" type="submit"> {% block post_button %}{% endblock post_button %} </button>
    </form>
{% endblock base_content %}