{% extends "base.html" %}

{% block header %}
<meta charset="UTF-8" xmlns="http://www.w3.org/1999/html">
<title>Profile!</title>
<style>
    body {
        background-color: rgb(208, 225, 206);
        vertical-align:top;
    }

    .button2 {
        background-color: rgb(208, 225, 206);
        font-size : 15px;
        padding: 10px 50px;
        margin: 6px 0;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        height:80px;
        width:200px
    }

    .button2:hover {
        background-color: #C4A874;
    }








</style>
{% endblock header %}

{% block base_content %}

<div style="text-align: left; color:black; ">
    <p> Please select the cause of the report and provide a description: </p>
    <br>
    <form action="{{ url_for('finish_report_action', user=owner)}}">
        <input type="radio" name="message" value="Inappropriate language">
        Inappropriate language
        <br>
        <br>
        <input type="radio" name="message" value="Did not show up">
        Didn't show up
        <br>
        <br>
        <input type="radio" name="message" value="Fake account">
        Fake account
        <br>
        <br>
        <input type="radio" name="message" value="Spammer">
        Spammer
        <br>
        <br>
        <br>
        <label> Description: </label> <input type="text" id="report_description" name="report_description">
        <br>
        <br>
        <button class="button2" type="submit" style="margin-right: 30px;"> Report!</button>
    </form>
</div>

{% endblock base_content %}