<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> {{ my_post['title'] }} </title>
        <style>
                body {
                        background-color: rgb(208, 225, 206);
                }

                .button {
                    background-color: #F0D5B4;
                    font-size : 16px;
                    padding: 7px 12px;
                    margin: 6px 0;
                    border: none;
                    border-radius: 4px;
                    cursor: point
                }

        </style>
    </head>
    <body>
    <br>
    <br>
    <br>
    <br>
        <div style="background-color: #ECF3EB; color: black; padding-left: 5em">
            <br>
            <br>
            {% block my_post_type %}{% endblock my_post_type %}
            <br>
            <br>
            {% if my_post['is_charity'] == "yes" %}
                        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
                            <font color="red"> <i class='fas fa-hand-holding-heart' style='font-size:24px;color:red'></i> &nbsp; CHARITY </font>
                            <br>
            {% endif %}
            Title: {{ my_post['title'] }}
            <br>
            <br>
            Description: {{ my_post['description'] }}
            <br>
            <br>
            Category: {{ my_post['category'] }}
            <br>
            <br>
            Location: {{ my_post['location'] }}
            <form action="{{ url_for('mapview',loc=my_post['location']) }}">
                <button class="button" type="submit"> See location on map!</button>
            </form>
            <a href="https://www.google.com/maps/search/?api=1&query={{lat}},{{lng}}">See on google maps!</a>
            <br>
            <br>
            Posted on: {{ my_post['date'] }}
            <br>
            {% block other_fields %}{% endblock other_fields %}
            <br>
            <br>
            {% for photo in my_post['photos'] %}
                <img style="height:7em" src="data:image/png;base64, {{ photo }}" alt=" "/>
            {% endfor %}
            <br>
            <br>

            People interested:
            <ul>
                {% for interested_person in interested_people %}
                <li> {{ interested_person[0] }} ; {{ interested_person[1] }}
                    {% if not reserved_person %}
                    <form action=" {{ url_for('reserved_post',reserved_person=interested_person[0],post_id=my_post['id'],post_type=my_post_type) }}">
                        <button> Reserve </button>
                    </form>
                    {% endif %}
                    {% if reserved_person == interested_person[2] %}
                        <font color="red"> <b> Reserved! </b> </font>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <br>
            <br>
        </div>
    </body>
</html>